extends ../shared/template/layout/_default

block vars
  -
    var title = 'shintaro-web'

block main
  .artist
    .artist-inner
      .swiper-container
        .swiper-wrapper
          each item in data.artist.member
            .swiper-slide
              .artist-contents-wrap
                each members in item.contents
                  .artist-contents
                    .artist-image-wrap
                      img.artist-image(src=`${members.image}`, alt='アーティスト')
                    .artist-introduction
                      .artist-name-wrap
                        h2.artist-name #{members.name}
                      p.artist-type #{members.type}
                      ul.artist-skill-list
                        each skill in members.skills
                          li.artist-skill-lists #{skill}
                      p.artist-description #{members.description}
