extends ../shared/template/layout/_default

block vars
  -
    var title = 'shintaro-web'
    var url = '../'

block main
  .artist
    .artist-inner
      .artist-contents-wrap
        .artist-contents.artist-contents_master
          .artist-image-wrap
            img.artist-image(src=`${data.artist.master.image}`, alt='アーティスト')
          .artist-introduction
            .artist-name-wrap
              h2.artist-name #{data.artist.master.name}
            p.artist-type #{data.artist.master.type}
            ul.artist-skill-list
              each skill in data.artist.master.skills
                li.artist-skill-lists #{skill}
            p.artist-description #{data.artist.master.description}
      .swiper-container
        #js-button-right.swipre-button-wrap.swipre-button-wrap_right
          .swipre-button-inner
        #js-button-left.swipre-button-wrap.swipre-button-wrap_left
          .swipre-button-inner
        .swiper-wrapper
          each item in data.artist.member
            .swiper-slide
              .artist-contents-wrap
                .artist-contents.artist-contents_member
                  .artist-image-wrap
                    img.artist-image(src=`..${item.image}`, alt='アーティスト')
                  .artist-introduction
                    .artist-name-wrap
                      h2.artist-name #{item.name}
                    p.artist-type #{item.type}
                    ul.artist-skill-list
                      each skill in item.skills
                        li.artist-skill-lists #{skill}
                    p.artist-description #{item.description}
